.Menu-section {
    padding: 0 14%;
    margin-bottom: 200px;
}
.Menu-section__title::after {
    content: "Menu";
}
.Menu-section__list-container {
    display: grid;
    grid-template-columns: auto auto;
    margin: 120px 0;
}
.Menu-section__list-container article:nth-child(even) {
    border-left: 1px solid var(--deepgold);
    padding-left: 45px;
}
.Menu-section__list-container article:nth-child(odd) {
    padding-right: 45px;
}
.Menu-section__list-container article:nth-child(1),
.Menu-section__list-container article:nth-child(2) {
    padding-top: 0;
}
.Menu-section__list-container article:nth-child(7),
.Menu-section__list-container article:nth-child(8) {
    border-bottom: none;
}