
.MenuItemPage-main__nav__ul {
    display: flex;
    align-items: center;
    width: 100%;
    height: 250px;
    padding-bottom: 90px;
}
.MenuItemPage-main__nav__ul__item {
    display: inline-block;
    padding: 0 6px;
}
.MenuItemPage-main__nav__ul__item--actual {
    color: var(--deepgold);
}

.MenuItemPage-main__menu-items-section {
    margin: 100px 0;
}
.MenuItemPage-main__description {
    font-size: 1.8rem;
    margin: -10px 2px 0;
    color: var(--deepgold);
    font-weight: 100;
}

.MenuItemPage-main__article-container {
    margin: 120px 0 90px;
}