.MenuItemPage-main__menu-items-section {
    margin: 100px 0;
}
.MenuItemPage-main__description {
    font-size: 1.8rem;
    margin: -10px 2px 0;
    color: var(--deepgold);
    font-weight: 100;
}

.MenuItemPage-main__article-container {
    margin: 120px 0 90px;
}