.ReservationFormSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 110px 0;
}
.ReservationFormSearch__input {
    width: 180px;
    margin: 0 7px;
    padding: 10px 0;
    padding-left: 2px;
    border: 1px solid var(--deepgold);
    background-color: transparent;
    color: inherit;
    cursor: pointer;
}
.ReservationFormSearch__input--special {
    width: 220px;
    padding: 15px 0;
    padding-left: 5px;
    font-size: 2rem;
}
.ReservationFormSearch__input option {
    color: white;
    background-color: var(--deepgold);
}
.ReservationFormSearch__input option:first-child {
    font-weight: bold;
}
.ReservationFormSearch__button {
    text-align: center;
    padding-left: 0;
}

@media (max-width: 768px) {
    .ReservationFormSearch {
        padding: 70px 0;
        flex-direction: column;
        gap: 30px;
    }
}