.ArticleInfo {
    position: relative;
    height: 400px;
    width: 85%;
    margin: 0 auto;
}
.ArticleInfo__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ArticleInfo__text-container {
    position: absolute;
    display: flex;
    transform: translate(22%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    top: 0;
    bottom: 0;
    left: 50%;
    background-color: #80694e;
}
.ArticleInfo__text-container__text {
    width: 235px;
    line-height: 25px;
    letter-spacing: 1px;
}
.ArticleInfo__addon {
    width: 230px;
    height: 1px;
    background-color: var(--deepgold);
    margin: 40px 0 0 auto;
}