.ArticleInfo {
    position: relative;
    height: 400px;
    width: 85%;
    margin: 0 auto;
}
.ArticleInfo__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ArticleInfo__text-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    top: 0;
    bottom: 0;
    right: 18%;
    background-color: #80694e;
}
.ArticleInfo__text-container__text {
    max-width: 235px;
    line-height: 25px;
    letter-spacing: 1px;
}
.ArticleInfo__addon {
    width: 230px;
    height: 1px;
    background-color: var(--deepgold);
    margin: 40px 0 0 auto;
}

@media (max-width: 1024px) {
    .ArticleInfo {
        width: 100%;
    }
    .ArticleInfo__text-container {
        right: 6%;
    }
}

@media (max-width: 768px) {
    .ArticleInfo__text-container {
        width: 220px;
        padding: 0 10px;
        transform: none;
        right: 0;
        left: inherit;
    }
}

@media (max-width: 425px) {
    .ArticleInfo {
        position: inherit;
        height: auto;
    }
    .ArticleInfo__text-container {
        position: inherit;
        transform: translateY(-4px);
        width: 100%;
    }
}