.CountryTemplateWineCocktail__accordion {
    margin: 50px 0;
    background-color: transparent;
    color: inherit;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
}
.CountryTemplateWineCocktail__accordion__option {
    background-color: var(--deepgold);
    color: white;
}
.CountryTemplateWineCocktail__navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.CountryTemplateWineCocktail__navbar label {
    position: relative;
    height: max-content;
}
.CountryTemplateWineCocktail__navbar label input {
    position: absolute;
    visibility: hidden;
    top: 0;
}
.CountryTemplateWineCocktail__menu-section {
    min-height: 600px;
}