.SecondaryNav__ul {
    display: flex;
    align-items: center;
    width: 100%;
    height: 250px;
    padding-bottom: 90px;
}
.SecondaryNav__ul__li {
    display: inline-block;
}
.SecondaryNav__ul__li--actual {
    color: var(--deepgold);
}

@media (max-width: 768px) {
    .SecondaryNav__ul {
        height: 130px;
        padding-bottom: 50px;
    }
}