.PlatesMenu-container {
    text-align: center;
    padding: 80px 0 45px;
    border-bottom: 1px solid var(--deepgold);
}
.PlatesMenu-container__img {
    width: 510px;
    height: 665px;
    object-fit: cover;
    padding: 25px 20px;
    border: 1px solid var(--deepgold);
}