.ItemFoodMenu {
    margin-top: 80px;
}
.ItemFoodMenu__title {
    display: inline-block;
    font-size: 3rem;
    color: white;
    font-weight: 500;
}
.ItemFoodMenu__price {
    color: var(--deepgold);
    font-size: 3rem;
    float: right;
}
.ItemFoodMenu__description {
    font-size: 2rem;
    font-weight: 500;
}