.ItemFoodMenu {
    margin-top: 80px;
}
.ItemFoodMenu__title {
    display: inline-block;
    font-size: 3rem;
    color: white;
    font-weight: 500;
}
.ItemFoodMenu__price {
    color: var(--deepgold);
    font-size: 3rem;
    float: right;
}
.ItemFoodMenu__addon {
    width: 99.2%;
    height: 1px;
    margin: 20px 0;
    background-color: var(--deepgold);
    position: relative;
}
.ItemFoodMenu__addon::after {
    position: absolute;
    content: ".";
    bottom: -5px;
    right: -10px;
    font-size: 2rem;
    color: var(--deepgold);
}
.ItemFoodMenu__description {
    font-size: 2rem;
    font-weight: 500;
}