.WineCocktailPage__description {
    max-width: 460px;
}
.WineCocktailPage__article {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, minmax(200px, 550px));
    grid-template-rows: 500px;
    gap: 5%;
    grid-auto-flow: column;
    margin: 110px 0 130px;
}
.WineCocktailPage__article__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.WineCocktailPage__article__info {
    max-width: 380px;
}
.WineCocktailPage__specialDescription {
    margin-bottom: 120px;
}
.WineCocktailPage__slider-wines {
    margin: 130px 0;
}
.WineCocktailPage__slider-wines__ul {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    padding-bottom: 30px;
    scrollbar-width: auto;
    scrollbar-color: #b5986d #ffffff;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
}
.WineCocktailPage__slider-wines__ul::-webkit-scrollbar {
    height: 8px;
}

.WineCocktailPage__slider-wines__ul::-webkit-scrollbar-track {
    background: #b5986d7d;
    border-radius: 10px;
}

.WineCocktailPage__slider-wines__ul::-webkit-scrollbar-thumb {
    background-color: #b5986d;
    border-radius: 10px;
    border: 3px none #ffffff;
}
.WineCocktailPage__slider-wines__ul__li {
    margin: 0 30px;
    list-style: none;
    scroll-snap-align: center;
}
.WineCocktailPage__slider-wines__ul__li__article {
    text-align: center;
}
.WineCocktailPage__slider-wines__ul__li__article__img {
    height: 370px;
    width: 290px;
    padding: 15px 10px;
    border: 1px solid var(--deepgold);
    object-fit: cover;
    object-position: center;
}

@media (max-width: 768px) {
    .WineCocktailPage__article {
        grid-template-columns: auto;
        grid-template-rows: 40vh auto;
        grid-auto-flow: row;
        margin: 70px 0 110px;
    }
    .WineCocktailPage__slider-wines {
        margin: 90px 0;
    }
    .WineCocktailPage__specialDescription {
        margin-bottom: 80px;
    }
}