.WineCocktailPage__description {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin: 150px 0;
}
.WineCocktailPage__description__img {
    height: 500px;
    width: 520px;
    object-fit: cover;
    object-position: center;
}
.WineCocktailPage__description__info {
    width: 380px;
}
.WineCocktailPage__slider-wines {
    margin: 150px 0;
}
.WineCocktailPage__slider-wines__ul {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    padding-bottom: 30px;
    scrollbar-width: auto;
    scrollbar-color: #b5986d #ffffff;
}
.WineCocktailPage__slider-wines__ul::-webkit-scrollbar {
    height: 8px;
}

.WineCocktailPage__slider-wines__ul::-webkit-scrollbar-track {
    background: #b5986d7d;
    border-radius: 10px;
}

.WineCocktailPage__slider-wines__ul::-webkit-scrollbar-thumb {
    background-color: #b5986d;
    border-radius: 10px;
    border: 3px none #ffffff;
}
.WineCocktailPage__slider-wines__ul__li {
    margin: 0 30px;
    list-style: none;
}
.WineCocktailPage__slider-wines__ul__li__article {
    text-align: center;
}
.WineCocktailPage__slider-wines__ul__li__article__img {
    height: 370px;
    width: 290px;
    padding: 15px 10px;
    border: 1px solid var(--deepgold);
    object-fit: cover;
    object-position: center;
}