html {
    height: 100%;
    font-size: 62.5%;
    font-family: Verdana, sans-serif;
}
* {
    font-size: 1.6rem;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    height: 100%;
    background-color: var(--deepblue);
    color: #ffffff87;
}
:root {
    --deepgold: #b5986d;
    --deepblue: #020b1b;
}
@font-face {
    font-family: "The Seasons";
    font-style: normal;
    font-weight: 300;
    src: url("./fonts/Fontspring-DEMO-theseasons-lt.otf");
}
@font-face {
    font-family: "The Seasons";
    font-style: normal;
    font-weight: 500;
    src: url("./fonts/Fontspring-DEMO-theseasons-reg.otf");
}
@font-face {
    font-family: "The Seasons";
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/Fontspring-DEMO-theseasons-bd.otf");
}

.title {
    position: relative;
    font-size: 5rem;
    font-family: "The Seasons", sans-serif;
    color: var(--deepgold);
}
.title::after {
    position: absolute;
    width: 600px;
    top: -103px;
    left: 2px;
    z-index: -1;
    font-size: 14rem;
    font-family: "The Seasons", sans-serif;
    color: #051425;
}
.title__addon {
    display: inline-block;
    height: 1px;
    width: 220px;
    margin: 4px 0 0px 15px;
    background-color: var(--deepgold);
}
.title__addon::before {
    content: ".";
    position: relative;
    bottom: 28px;
    right: 13px;
    font-size: 3rem;
    color: var(--deepgold);
}
.description {
    letter-spacing: 1px;
}

.line-addon {
    width: 115px;
    height: 1px;
    margin: 20px;
    background-color: var(--deepgold);
}