.MainPresentation {
    position: relative;
}
.MainPresentation__gallery {
    display: flex;
    justify-content: space-between;
    height: 633px;
    margin: 60px 0 25px;
    padding: 0 20px;
}
.MainPresentation__gallery__aside {
    position: relative;
    align-self: flex-end;
    padding-bottom: 80px;
    margin-right: 50px;
}
.MainPresentation__gallery__image {
    width: 950px;
    min-width: 550px;
    opacity: 0.7;
    object-fit: cover;
    object-position: 175px;
}

.MainPresentation__contact-info-container {
    height: 50px;
}
.MainPresentation__contact-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 25%;
    padding: 0 10px;
}
.MainPresentation__social-media-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}
.MainPresentation__main-description {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
.MainPresentation__main-description__title {
    width: 650px;
    font-size: 14rem;
    font-family: "The Seasons", sans-serif;
    color: #ffffff;
}
.MainPresentation__main-description__subtitle {
    font-family: "The Seasons", sans-serif;
    font-weight: 100;
    color: #ffffff;
}