.MainPresentation {
    position: relative;
}
.MainPresentation__gallery {
    display: flex;
    justify-content: space-between;
    height: 70vh;
    margin: 60px 0 25px;
    padding: 0 20px;
    overflow: hidden;
}
.MainPresentation__gallery__aside {
    position: relative;
    align-self: flex-end;
    padding-bottom: 8%;
    margin-right: 90px;
}
.MainPresentation__gallery__image {
    height: 100%;
    width: 100%;
    max-width: 730px;
    opacity: 0.7;
    object-fit: cover;
    object-position: right;
}

.MainPresentation__contact-info-container {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 7%;
    padding: 0 10px;
}
.MainPresentation__social-media-container {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}
.MainPresentation__main-description {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
.MainPresentation__main-description__title {
    width: max-content;
    font-size: 14rem;
    font-family: "The Seasons", sans-serif;
    color: #ffffff;
}
.MainPresentation__main-description__subtitle {
    font-family: "The Seasons", sans-serif;
    font-weight: 100;
    color: #ffffff;
}

@media (max-width: 1080px) {
    .MainPresentation__gallery__aside {
        margin-right: 30px;
    }
}
@media (max-width: 768px) {
    .MainPresentation__gallery {
        flex-direction: column-reverse;
        height: 70vh;
        padding: 0px;
        margin: 10px 0 35px;
        gap: 20px;
        overflow: hidden;
    }
    .MainPresentation__gallery__image {
        height: 100%;
        width: 100%;
        min-width: 0px;
        object-position: center;
    }
    .MainPresentation__gallery__aside {
        align-self: center;
        padding-bottom: 0px;
        margin-right: 0px;
    }
    .MainPresentation__main-description__title {
        font-size: 8.5rem;
    }
    .MainPresentation__contact-info-container {
        padding: 0;
    }
}

@media (max-width: 425px) {
    .MainPresentation__main-description__title {
        font-size: 6rem;
    }
}